@import "../../../styles/mixin.scss";

.banner {
  .content {
    display: flex;
    justify-content: space-between;
    @include mobile {
      display: block;
      padding-top: 20px;
    }
    .wrap-title {
      display: flex;
      align-items: center;
      .title {
        display: flex;
        flex-direction: column;
        z-index: 1;
        @include mobile {
          text-align: center;
        }
        h3 {
          font-family: "Race Sport Free";
          font-style: normal;
          font-weight: 400;
          font-size: 3.6rem;
          line-height: 56px;
          letter-spacing: -0.408px;
          color: #ffffff;
          text-transform: uppercase;
          margin-bottom: 40px;
        }
        span {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 24px;
          letter-spacing: 0.0015em;
          color: #ffffff;
        }
      }
    }
    .image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
