@import "./gloabalStyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:ital,wght@0,500;1,300;1,400;1,500;1,700&display=swap");
@import url("http://fonts.cdnfonts.com/css/race-sport-free");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  scroll-behavior: smooth;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

html *::-webkit-scrollbar {
  width: 4px;
}
html *::-webkit-scrollbar-thumb {
  background: #7a7a9d;
  border-radius: 2px;
}
html *::-webkit-scrollbar-track {
  background: #dde1ef;
  border-radius: 2px;
}
