.header {
  display: flex;
  height: 106px;
  align-items: center;
  background: #2e2e3d;

  .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 11px;
      width: 205.95px;
      height: 46px;
    }
    .content-right {
      display: flex;
      height: 100%;
      ul {
        gap: 30px;
        display: flex;
        align-items: center;
        list-style: none;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 24px;
        letter-spacing: 0.0015em;
        color: #ffffff;
        text-decoration: none;
        li {
          a {
            color: #fff;
          }
        }
      }
      .play-now {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 153px;
        height: 50px;
        background: linear-gradient(90deg, #01a7a3 0%, #36c89c 51.56%, #3fe176 100%);
        border-radius: 37px;
        margin-left: 20px;
        span {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 24px;
          letter-spacing: 0.0015em;
          color: #ffffff;
        }
      }
    }
  }
}
