@import "../../styles/mixin.scss";

.header {
  display: flex;
  height: 106px;
  align-items: center;
  background: #2e2e3d;

  @include mobile {
    height: 50px;
  }

  .icon-header {
    display: none;
  }

  @include mobile {
    .icon-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      width: 100%;

      .logo {
        display: flex;
        align-items: center;

        img {
          width: 100px;
          height: 100%;
          object-fit: cover;
        }
      }
      svg {
        width: 20px;
        height: 20px;
        z-index: 1;
        color: #fff;
      }
      .menu-header {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-200%);
        transition: ease-in 0.4s;
        padding-left: 16px;
        width: 50vw;
        height: 100vh;
        display: flex;
        z-index: 10;
        background: #2e2e3d;
        flex-direction: column;
      }
      .active {
        transform: translateX(0);

        a {
          padding: 6px 0;
          color: #fff;
        }

        span {
          position: absolute;
          right: 10px;
          top: 6px;
          font-size: 2rem;
          svg {
            color: #fff;
          }
        }
      }
    }
  }

  .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include mobile {
      display: none;
    }
    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      height: 46px;
      @include mobile {
        margin-right: 20px;
      }
    }
    .content-right {
      display: flex;
      height: 100%;
      ul {
        gap: 30px;
        display: flex;
        align-items: center;
        list-style: none;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 24px;
        letter-spacing: 0.0015em;
        color: #ffffff;
        text-decoration: none;
        a {
          display: block;
          margin-right: 8px;
          color: #fff;
        }
      }
      .play-now {
        @include mobile {
          display: none;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 153px;
        height: 50px;
        background: linear-gradient(90deg, #01a7a3 0%, #36c89c 51.56%, #3fe176 100%);
        border-radius: 37px;
        margin-left: 20px;
        span {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 24px;
          letter-spacing: 0.0015em;
          color: #ffffff;
        }
      }
    }
  }
}
