@import url();

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/diot4imoq/image/upload/v1662386799/bc34bbb3b593ed46ee024ff4cf5b7979_d7mdyz.jpg");

  .what-bikern {
    .content {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .dow-app {
    margin-top: 100px;
    .bg-img {
      display: flex;
      justify-content: center;
      position: relative;
      height: 325px;
      img {
        width: 648px;
        height: 314px;
        object-fit: cover;
      }
      .title {
        position: absolute;
        top: 30%;
        h3 {
          font-family: "Race Sport Free";
          font-style: normal;
          font-weight: 400;
          font-size: 4.8rem;
          line-height: 56px;
          text-align: center;
          letter-spacing: -0.408px;
          color: #0dff00;
        }
      }
    }
  }

  .bikern-feature {
    margin-top: 100px;
    .content {
      .title {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        h3 {
          font-family: "Race Sport Free";
          font-style: normal;
          font-weight: 400;
          font-size: 3.6rem;
          line-height: 36px;
          color: #ffffff;
          text-transform: uppercase;
          margin-left: 10px;
        }
      }
      .list-item {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 20px;
        .item {
          gap: 23px;
          height: 390px;
          img {
            width: 202px;
            height: 202px;
            object-fit: cover;
          }
          h3 {
            font-family: "Montserrat";
            font-style: normal;
            font-size: 2.4rem;
            line-height: 32px;
            color: #28e368;
          }
          p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 24px;
            letter-spacing: 0.0015em;
            color: #ffffff;
          }
        }
      }
    }
  }

  .getting-started {
    margin-top: 100px;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background: linear-gradient(180deg, rgba(219, 219, 219, 0.19) 0%, rgba(184, 184, 184, 0.095) 100%);
      mix-blend-mode: normal;
      box-shadow: 0px 10px 60px rgba(29, 29, 39, 0.7);
      border-radius: 25px;
      padding: 20px 0;
      .title {
        text-align: center;
        font-family: "Race Sport Free";
        font-style: normal;
        font-weight: 400;
        font-size: 3.6rem;
        line-height: 36px;
        color: #ffffff;
        margin-bottom: 20px;
      }
      .item {
        display: flex;
        flex-direction: column;
        width: 872px;
        padding: 10px 0;
        span {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 2.4rem;
          line-height: 32px;
          text-align: center;
          color: #28e368;
        }
        p {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 24px;
          text-align: center;
          letter-spacing: 0.0015em;
          color: #ffffff;
        }
      }
    }
  }

  .ntf-showroom {
    margin-top: 100px;
    .content {
      .title {
        font-family: "Race Sport Free";
        font-style: normal;
        font-weight: 400;
        font-size: 3.6rem;
        line-height: 36px;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      .list-item {
        display: flex;
        justify-content: center;
        gap: 20px;
        .item {
          .img {
            position: relative;
            border-radius: 32px 32px 0 0;
            overflow: hidden;

            img {
              width: 100%;
              object-fit: cover;
              border-radius: 32px;
            }
            .arrow-left {
              position: absolute;
              left: 0;
              bottom: 0;
            }
            .arrow-right {
              position: absolute;
              right: 0;
              bottom: 0;
            }
            .level {
              position: absolute;
              bottom: 20px;
              left: 50%;
              transform: translateX(-50%);
              .content {
                display: flex;
                gap: 10px;

                .item {
                  p {
                    font-family: "Montserrat";
                    font-style: italic;
                    font-weight: 700;
                    font-size: 1.6rem;
                    line-height: 16px;
                    text-align: center;
                    color: #ffffff;
                    margin-bottom: 6px;
                  }
                  span {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 3px 8px;
                    width: 88px;
                    height: 24px;
                    background: linear-gradient(334.29deg, #fc9023 3.23%, #fbb22d 52.51%, #f8cf35 98.81%);
                    border: 1px solid #aecfbb;
                    border-radius: 16px;
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    color: #fff;
                  }
                }
                .child {
                  span {
                    background: linear-gradient(90deg, #2ec0ff 0%, #199feb 100%);
                  }
                }
              }
            }
            img {
              background: rgb(47, 114, 107);
            }
          }
          .info {
            display: flex;
            flex-direction: column;
            padding: 20px 47px;
            gap: 18px;
            height: 198px;
            background: #ffffff;
            border-radius: 0px 0px 32px 32px;
            margin-top: -7px;
            .code {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 700;
              font-size: 2.4rem;
              line-height: 32px;
              text-align: center;
              color: #2bbb90;
            }
            .class,
            .durability,
            .luck {
              display: flex;
              justify-content: space-between;

              span {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 24px;
                letter-spacing: 0.0015em;
                color: #000000;
              }
            }
          }
        }
      }
    }
  }

  .roadmap {
    margin-top: 100px;
    .content {
      .bg-img {
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .token-nomic {
    .content {
      display: flex;
      justify-content: center;
      img {
        width: 960px;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .our-team {
    margin-top: 100px;
    .content {
      .title {
        margin-bottom: 20px;
        h3 {
          text-transform: uppercase;
          text-align: center;
          font-family: "Race Sport Free";
          font-style: normal;
          font-weight: 400;
          font-size: 3.6rem;
          line-height: 36px;
          color: #ffffff;
        }
      }
      .list-item {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-bottom: 100px;

        img {
          width: 100%;

          object-fit: cover;
          border-radius: 32px;
        }
        .item {
          border-radius: 32px;
          padding: 20px 0;

          .name {
            span {
              display: block;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 700;
              font-size: 2.4rem;
              line-height: 32px;
              text-align: center;
              color: #ffffff;
            }
            p {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 400;
              font-size: 1.8rem;
              line-height: 24px;
              text-align: center;
              letter-spacing: 0.0015em;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

.footer {
  .content {
    display: flex;
    padding: 20px 0;
    align-items: center;
    .logo {
      width: 30%;
    }
    .list-item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 70%;
      .contact {
        span {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 24px;
          letter-spacing: 0.0015em;
          color: #000000;
        }
      }
      .item,
      .contact {
        h3 {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 24px;
          letter-spacing: 0.0015em;
          color: #000000;
        }
      }
    }
  }
}
